@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body{
  background-color:white;
 color:black;
 font-family: "Black Ops One", system-ui;
}
 .cabecalho{
    background-color: blue;
    text-align: center;
    padding: 30px;
    font-size: 26px; 
 }
 img{
  width: 80px; 
  height: 80px;
}
main{
  color:black;
  max-width: 800px;
  margin:0 auto;
  padding: 16px;
article{
   display:flex;
   background-color: blue;
   align-items:center;
   padding: 24px;
}